# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp

# Env
.env
*.env.local

# Data & logs
*.log
chroma_db/
data/
local_data/
*.7z

# OS
.DS_Store
Thumbs.db

# Practise copy
cc_practise/
